#page { width: 700px;
       height:auto !important;
       margin:0 auto;
}

textarea {
    width:500px;
    height:300px;
}

.field-validation-error {
    color:#f00;
}
.validation-summary-errors {
    font-weight:bold;
    color:#f00;
}

h1 {
    font-size:2.2em;
    color:#000;
}

.button {
    display:block;
    width:200px;
    background-color:#bee9ff;
    height:60px;
    border-radius:5px;
}
.nodisplay {
    display:none;
}

#Result{ margin-top:40px; display:block;
         font-size:1.5em;
}

.remove {
        display:none;
}
.clearButton {
    display:block;
    width:100px;
    background-color:#bee9ff;
    height:60px;
    border-radius:5px;
    margin-top:40px;
}